.colors {
  color: #F9F7F7;
  color: #DBE2EF;
  color: #ecf0f4;
  color: #92bde4;
  color: #3F72AF;
  color: #112D4E;
  color: #26262D;
}

body, h1 {
  margin: 0;
  height: 100%;
}

.main{
  margin: 0;
  background-color: #DBE2EF;
  height: 100%;
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* NavBar */

.top-navbar{
  background-color: #F9F7F7;
  padding: 18px;
  color: #112D4E;
}

.top-navbar-name h1{
  font-size: 25px;
}

/* Car List Container */

.car-list-containter{
  background-color: #F9F7F7;
  margin: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
}

.btn-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.secondary-btn-container{
  display: flex;
  align-items: flex-end;
}

/* Generic list */

.gen-list-table{
  width: 100%;
  border-collapse:collapse;
  color: #112D4E;
}

.gen-list-table th{
  padding: 5px;
  background-color: #3F72AF;
  color: #F9F7F7;
  text-align: left;
}

.gen-list-table tr:first-child{
    padding-left: 50px;
    margin-left: 20px;
}

.gen-list-table td{
  padding: 5px;
}

.gen-list-element:nth-child(even) {
  background-color: #ecf0f4;
}

.gen-list-element:hover {
  background-color: #DBE2EF;
}
.selected{
  background-color: #92bde4 !important
}

/* Modal Window */

.modal-window{
  justify-self: center;
  align-self: center;
  justify-content: center;
  justify-self: center; 
  position: fixed; 
  z-index: 1; 
  padding-top: 20px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Car Form Window */

.car-form-container{
  background-color: #F5F7F8;
  border-radius: 10px;
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car-form{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.car-form input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.car-form select{
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  margin: 10px 0;

}

/* Confirm Delete Window  */

.delete-confirmation-container{
  background-color: #F5F7F8;
  border-radius: 10px;
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container-delete-confirmation{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* Close Window */

.close-btn-container{
  width: 90%;
  padding: 5px;
  display: flex;
  justify-content: end;
}


/* Buttons */

.close-btn{
  background-color: #112D4E;
  color: #F5F7F8;
  padding: 8px 12px;
  font-size: 10px;
  border-radius: 4px;
  border: none;
}

.btn-accept {
  background-color: #112D4E;
  color: #F5F7F8;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 4px;
  border: none;
}

.btn-delete {
  background-color:#db3c3c;
  color: #F5F7F8;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 4px;
  border: none;
  margin-left:20px;
}
